<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKN & Associates</title>
</head>
<body>
  <header id="home">
    <nav [ngClass]="{'scrolled': isScrolled}">
       <div class="menu-icon">
          <i class="fa fa-bars fa-2x"></i>
          <div class="logo1">
            <img src=".\assets\footerimage.png" class="logoicon1">
         </div>
       </div>
       <div class="logo">
          <img src=".\assets\logo.png" class="logoicon">
       </div>
       <div class="menu">
          <ul>
            <li><a href="#home">Home</a></li>
             <li><a href="#aboutus">About</a></li>
             <li><a href="#services">Services</a></li>
             <li><a href="#industries">Industries</a></li>
             <li><a href="#contactus">Contact</a></li>
          </ul>
       </div>
    </nav>
    <h1 class="herotext">
      Maximize Your <br> Finances
    </h1>
    <span class="herosubtext">Expert accounting services to optimize your <br>buisness's financial performance</span>
 </header>
 <div id="aboutus" class="aboutus">
   <h1 class="aboutusheading">About Us</h1>
   <span class="mission" id="mission"><b>Our Mission: </b>At SKN & Associates, our mission is to deliver meticulous financial services that empower businesses to streamline operations, navigate complexities, and achieve sustainable growth through personalized solutions.</span>
   <span class="mission"><b>Our Values: </b>We are committed to precision, integrity, and client-centricity. Our values drive us to ensure accuracy in financial records, maintain unwavering ethics in all services, and prioritize our clients' unique needs.</span>
 </div>
 <div id="services" class="services">
   <h1 class="exploreservices">Explore Our Services</h1>
   <span class="servicessubtext">At SKN & Associates, we offer a comprehensive suite of financial services designed to optimize and elevate your business operations. Our expertise spans across various facets of financial management, tailored to meet your specific needs.</span>
   <div id="registrationservice" class="servicecard">
      <h3 class="servicecardheading">Registration</h3>
      <div class="servicetypes">
       <section class="fcard">
         <h4 class="fcardheading">Buisness Registration</h4>
         <ul>
            <li>Private Limited Company</li>
            <li>OPC Private Limited</li>
            <li>Limited Liability Partnership (LLP)</li>
            <li>Partnership Firm</li>
         </ul>
      </section>
      <section class="fcard">
         <h4 class="fcardheading">Tax Registration</h4>
         <ul>
            <li>GST Registration</li>
            <li>Proffession Tax</li>
            <li>TAN Registration</li>
            <li>PAN Registration</li>
         </ul>
      </section>
      <section class="fcard">
         <h4 class="fcardheading">Special Registration</h4>
         <ul>
            <li>MSME Registration</li>
            <li>Aadhar Udyog</li>
            <li>FSSAI</li>
            <li>Import Export Code (IEC) Registration</li>
            <li>Online Digital Signature Certificate (DSC)
               Registration</li>
         </ul>
      </section>
      </div>
   </div>
   <div id="taxationservice" class="servicecard">
      <h3 class="servicecardheading">Taxation</h3>
      <div class="servicetypes">
       <section class="fcard">
         <h4 class="fcardheading">Indirect Taxation</h4>
         <ul>
            <li>Effective compliance services and in-depth technical expertise across a wide range of Indirect tax services, including GST Advisory & Compliances Services.</li>
            <li>Registrations, Returns filing, Refund Application, Notice Handling, Appearances Before The Authorities, Preparation Of Appeal Documents, Attending Hearing of Appeal Matters & GST Audits.</li>
         </ul>
      </section>
      <section class="fcard">
         <h4 class="fcardheading">Direct Taxation</h4>
         <ul>
            <li>Tax consultancy solutions aligning strategies with changing tax policies and regulations.</li>
            <li>Direct Tax Advisory services covering Tax Planning, Preparation And Filling Of Income Tax Returns, Certifications including 15CA/15CB, Compliance With Income Computation And Disclosure Standards (ICDS), Representation Services for Assessments, Preparation of Responses to Notices, Appeal Documents, and TDS/TCS registration and filing.</li>
         </ul>
      </section>
      </div>
   </div>
   <div class="servicetypes">
   <div id="auditservice" class="fcard">
      <h3 class="fcardheading">Audit & Assurance</h3>
         <ul>
          <li>Internal Audit</li>
          <li>Tax Audit </li>
          <li>Stock Audit</li>
          <li>GST Audit</li>
      </ul> 
   </div>
   <div id="accountingservice" class="fcard">
      <h3 class="fcardheading">Bookeeping & accounting</h3>
      <ul>
         <li>Reconciliation across various accounts: accounts receivable, accounts payable, inventory, bank statements, credit cards, etc.</li>
         <li>Generating diverse financial reports tailored to your needs: periodic statements, branch-wise reports, consolidated reports.</li>
         <li>Ensuring accuracy, timeliness, and compliance with regulatory frameworks.</li>
      </ul>
   </div>
</div>
   
 </div>
 <div id="industries" class="industries">
   <h1 class="industriesheading">Industries</h1>
   <span class="industriessubtext">Tailoring our expertise to suit your industry, we offer specialized solutions</span>
   <div class="industriessection">
      <div class="icard">
         <h3 class="icardheading">E-Commerce</h3>
         <span class="icardtext">Dive into detailed Inventory-wise Accounting and Order-wise settlements. Generate insightful reports specific to State-wise, Branch-wise, and Warehouse-wise operations, optimizing your e-commerce business.</span>
      </div>
      <div class="icard">
         <h3 class="icardheading">Brick & Mortar</h3>
         <span class="icardtext">Our services cover Ledger Reconciliation, Stock Reconciliation, Bank Reconciliation, and management of Miscellaneous debits, ensuring financial stability for brick-and-mortar businesses.</span>
      </div>
      <div class="icard">
         <h3 class="icardheading">US-based Companies</h3>
         <span class="icardtext">Facilitating seamless coordination with CPAs for Tax Planning, managing 1099/W-9 forms, and other related services for businesses operating in the US, ensuring compliance with GAAP standards.</span>
      </div>
      <div class="icard">
         <h3 class="icardheading">Hospitality & Tourism</h3>
         <span class="icardtext">Comprehensive financial solutions catering to the unique needs of the hospitality industry, including hotel-specific accounting, revenue management, and cost optimization strategies.</span>
      </div>
      <div class="icard">
         <h3 class="icardheading">IT & Saas</h3>
         <span class="icardtext">Specialized financial management for IT companies and SaaS providers, addressing revenue recognition, subscription-based accounting, and industry-specific tax considerations.</span>
      </div>
      <div class="icard">
         <h3 class="icardheading">Cashless Services</h3>
         <span class="icardtext">Financial services customized for businesses operating in the cashless payment sector, ensuring accurate reconciliation and compliance with industry-specific regulations.</span>
      </div>
   </div>
 </div>
 <div class="ContactUs" id="contactus">
 <h1 class="contactusheading">Contact Us</h1>
 <span class="contactussubtext">Got questions or suggestions? Reach out to us - we're here to help!</span>
 <div class="contactussection">
   <form class="contactusform" [formGroup]="form" (ngSubmit)="send()">
      <input formControlName="name" type="text" id="name" name="name" class="nameinfo" placeholder="Name"/>
      <input formControlName="email" type="email" id="email" name="email" class="emailinfo"  placeholder="Email"/>
      <input formControlName="message" id="message" name="message" class="messageinfo"  placeholder="Message"/>
      <button type="submit" class="submitbutton">Send</button>
   </form>
   <div class="vl"></div>
   <div class="contactusinfo">
      <div class="contactusinfosec">
      <h4>Email</h4>
      <span>sknandassociates76&#64;gmail.com</span>
      </div>
      <div class="contactusinfosec">
      <h4>Phone No.</h4>
      <span>+919822599604</span>
      </div>
   </div>
 </div>
 </div>
 <footer class="footer"><img src=".\assets\footerimage.png" class="footericon"></footer>
</body>
</html>